<!doctype html>
<html>
  <head>
    <title>R.S. Miron</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-container">
        <nav>
          <navigation @set-route="setRoute($event)"></navigation>
        </nav>
      </div>
      <div class="content">
        <div v-if="currentRoute === '/'">
          {{ message }}
        </div>
        <div class="window-container" v-if="currentRoute === '/about-me'">
          <window file-name="about-me" content-type="text"></window>
          <window file-name="photo" content-type="image"></window>
        </div>
        <div class="window-container" v-if="currentRoute === '/contact'">
          <window file-name="contact" content-type="text"></window>
        </div>
      </div>
    </div>  
</body>
<script type="module" src="./app.js"></script>
<link rel="stylesheet" href="app.css"></style>  
</html>