nav {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem 0;
    width: 110vw;
    position: absolute;
    top: -61px;
    margin-left: -1rem;
    background-color: white;
    padding: 0.5rem; 
    border-bottom: 2px solid black;
}

a:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    text-decoration: underline;
    text-decoration-thickness:calc(1rem / 12);
}

a.home {
    max-height: 27px;
    padding: 1px 0;
    margin: 0 0.5rem;
}

a.home:hover {
    filter: invert(100%);
    background-color: white;
}

nav a {
    font-size: calc(1rem / 1.5);
    color: black;
    padding: 0.5rem;
    text-decoration: none;

}