@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('./Components/window.css');
@import url('./Components/navigation.css');
.nav-container {
    position: relative;
}

.content {
    margin-top: 3rem;
}

html {
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
  
}

body {
    background-image: radial-gradient(black 5%,white 5%);
    background-position: 0 0;
    background-size: 1px 3px;
    overflow-x: hidden;
}

h1 {
    font-weight: 400;
    margin: 1rem 0;
}


